body{
    background-color: #ccc;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.container{
    width: 100%;
    margin: 0 auto;
}
.container .head-content{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#966dde, #ec0d0d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.search-section{
    text-align: center;
}
.searchtext{
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(images/searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}
.content-container{
    padding: 1rem 1.5rem;
    background: linear-gradient(45deg, #5b5656, transparent);
    margin-top: 2rem;
}
.container-one{
    /* display: flex;
    justify-content: space-evenly;
    gap: 1rem; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    flex-direction: row;
}
.event-section {
    flex: 23%;
    border: 1px solid #ccc;
    padding: 7px;
}
.event-section h1{
    text-align: center;
}
.event-desc{
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}
.event-image{
    border: 1px solid #c3c0c0;
    padding: 1rem;
}
.event-image img{
    border-radius: 50px;
    border: 1px solid #ccc;
}
.event-detail{
    text-align: center;
    margin-top: -20px;
}
.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-top: 2.2rem;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    opacity: 0.7;
    cursor: unset;
    margin-top: 2.2rem;
}
.container-two{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    flex-direction: row;
}
span{
    font-weight: 600;
}

/*************************** Responsive Section **************************/
@media screen and (max-width: 768px){
    .searchtext{
        width: 100%;
    }
}
@media screen and (max-width: 575px){
    .container-one, .container-two{
        flex-direction: column;
    }
}