body{
    background-color: #000;
    color: #fff;
}
.search-section{
    gap: 1rem;
}
.search-btn{
    background: #dc3545;
    color: #fff;
    border: none;
}
.search-btn:hover,.search-btn:focus-visible{
    background: #dc3545 !important;
    border: none !important;
}
.parent-div p{
    margin: 7px 0px;
}
.head-title{
    color: #dc3545;
    font-size: 30px;
    font-weight: 600;
}
h6{
    color: #00ffff;
    font-size: 18px;
    font-weight: 600;
}
.list-section{
    padding: 0 1rem;
}
.list-data {
    padding: 2rem;
    border: 1px solid #ffd2d6;
    border-radius: 3rem;
    margin-top: 5%;
    min-height: 380px;
}
#holiday-name{
    color: #b22a38;
    font-weight: 600;
}
#holiday-desc{
    color: #a0a000;
}
#holiday-date{
    color: #7fffd4;
}
#holiday-type{
    color: #ff6347;
}